* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    width: 24rem /* 384px */;
}
.card figure {
    display: flex;
    align-items: center;
    justify-content: center;
}
.card img {
    width: 100%;
}
.card.image-full {
    display: grid;
}

.card-compact .card-body {
    padding: 1rem /* 16px */;
    font-size: 0.875rem /* 14px */;
    line-height: 1.25rem /* 20px */;
}
.card-compact .card-title {
    margin-bottom: 0.25rem /* 4px */;
}
.shadow-xl {
    --tw-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    --tw-shadow-colored: 0 20px 25px -5px var(--tw-shadow-color),
        0 8px 10px -6px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
        var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

#pond {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
